<div class="main_nav_container">
    <div class="container">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <a href="/" class="">
            <img src="assets/img/logo.png" alt="logo" width="120" height="50" class="logo">
          </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 ">Home</a></li>
          <li><a href="#" class="nav-link px-2">Products</a></li>
          <li><a href="#" class="nav-link px-2 ">Promo</a></li>
          <li><a href="#" class="nav-link px-2 ">Blog</a></li>
          <li><a href="#" class="nav-link px-2 ">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 ">About</a></li>
  
        </ul>
  
        <div class="col-md-3 text-end">
          <div class="sign">
            <div class="inlogin">
              <button type="button" class="btn btn-outline-primary me-2">Login</button>
              <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
            <!-- <div class="logged" [class.login]="isLogin">
              <h3>Xin chào {{name}}</h3>
              <button type="button" class="btn btn-primary" (click)="login()">Sign-out</button>
            </div> -->
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="sub_nav_container">
    <div class="container">
      <nav class="navbar navbar-light  justify-content-between">
        <form class="form-inline sub_nav_left col-md-6">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for product" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart"
          viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
        </svg>
      </a>
      </nav>
    </div>
  </div>
